@import "tailwindcss";

/* Custom Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
   display: none; /* Chrome, Safari, Edge */
}

.scrollbar-hide {
   -ms-overflow-style: none; /* IE और Edge */
   scrollbar-width: none; /* Firefox */
}
.trending{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.searchTitle{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.searchDescribtion{
   font-size: 15px;
   line-height: 15px;
   padding-left: 20px;
   bottom: 0;
}
.searchDate{
   font-size: 14px;
   padding-left: 20px;
   opacity: 60%;
}
.searchOutputDisplay{
   display: inline-block;
}
.searchOutputDisplayNone{
   display: none;
}
#splashScreen {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: black;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 24px;
   z-index: 1000;
   transition: all 2s ease-in-out;
   opacity: 1; 
}
#mainContent {
   display: none;
}
.topRate{
   font-size: 14px;
   opacity: 60%;
}

.poptitle, .poprating, .popdate{
   font-size: 20px;
}
.poprating, .popdate{
   font-size: 17px;
}

.height1{
   height: 500px;
}
.height2{
   height: 700px;
}
.height3{
   height: 900px;
}